{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block pagetitle %}Update Agency{% endblock %}
{% load agency_tags %}
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-lg mx-auto">
        <!-- Agency Update Form -->
        <form method="post" enctype="multipart/form-data" id="agencyUpdateForm">
            {% csrf_token %}
            <!-- Add a grid layout for the form fields -->
            <div class="grid grid-cols-4 gap-4">
                {% for field in form %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- Submit Button -->
            <button type="submit" class="bg-primary text-white p-3 mt-5 w-full text-xl">Update</button>
        </form>
        <!-- Back Button -->
        <div class="mt-6 text-center">
            <a href="javascript:window.history.back()"
               class="text-gray-600 hover:underline font-semibold text-lg">← Go Back</a>
        </div>
    </div>
{% endblock %}
