{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block pagetitle %}Services{% endblock %}
{% block button %}
    <a href="{% url 'awb:pages:master:service:create' %}">
        <button class="bg-white text-primary border-2 border-primary hover:bg-secondary hover:text-white hover:border-secondary transition-colors duration-300 font-medium px-4 py-2 rounded flex items-center gap-2">
            <i class="fi fi-rr-plus text-sm mt-[3px]"></i>
            <span>Add Service</span>
        </button>
    </a>
{% endblock %}
{% block content %}
    <style>
    /* Ensure search row is not clickable */
    #search-row td {
        pointer-events: auto !important;
    }
    </style>
    <!-- Data Table -->
    <div class="bg-white p-5">
        <div class="overflow-x-auto">
            <table id="dataTable"
                   class="display min-w-full border-collapse border border-gray-300 w-full">
                <thead class="bg-gray-200">
                    <tr id="search-row"></tr>
                    <tr class="bg-primary text-white">
                        <th class="p-3 border">SN</th>
                        <th class="p-3 border" data-search="false">Name</th>
                        <th class="p-3 border" data-search="false">Code</th>
                        <th class="p-3 border" data-search="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td class="p-2 border sn-column"></td>
                            <td class="p-2 border">{{ service.name }}</td>
                            <td class="p-2 border">{{ service.code }}</td>
                            <td class="p-2 border">
                                <div class="flex items-center gap-x-3">
                                    <!-- Update Button -->
                                    <a href="{% url 'awb:pages:master:service:update' service.pk %}"
                                       title='Update'>
                                        <button class="bg-primary text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700 transition-all duration-300">
                                            <i class="fi fi-rr-edit"></i>
                                        </button>
                                    </a>
                                    <a href="{% url 'history_list' %}?model_name=Service&object_id={{ service.pk }}"
                                       title="History">
                                        <button class="bg-primary text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700 transition-all duration-300">
                                            <i class="fi fi-rr-time-past"></i>
                                        </button>
                                    </a>
                                    <!-- Delete Form (POST Request) -->
                                    <form action="{% url 'awb:pages:master:service:delete' %}"
                                          title='Delete'
                                          method="POST"
                                          onsubmit="return confirm('Are you sure you want to delete this Service?');"
                                          class="inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="pk" value="{{ service.pk }}">
                                        <button type="submit"
                                                class="bg-[#C20000] text-white px-4 py-2 rounded-md shadow-md hover:bg-red-700 transition-all duration-300">
                                            <i class="fi fi-rr-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
