{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block pagetitle %}Hubs{% endblock %}
{% block button %}
    <a href="{% url 'hub:pages:hub:create' %}">
        <button class="bg-white text-primary border-2 border-primary hover:bg-secondary hover:text-white hover:border-secondary transition-colors duration-300 font-medium px-4 py-2 rounded flex items-center gap-2">
            <i class="fi fi-rr-plus text-sm mt-[3px]"></i>
            <span>Add Hub</span>
        </button>
    </a>
{% endblock %}
{% block content %}
    <style>
        /* Ensure search row is not clickable */
        #search-row td {
            pointer-events: auto !important;
        }
    </style>
    <!-- Data Table -->
    <div class="bg-white p-5">
        <div class="overflow-x-auto">
            <table id="dataTable"
                   class="display min-w-full border-collapse border border-gray-300 w-full">
                <thead class="bg-gray-200">
                    <tr id="search-row"></tr>
                    <tr class="bg-primary text-white">
                        <th class="p-3 border">SN</th>
                        <th class="p-3 border" data-search="false">Hub Code</th>
                        <th class="p-3 border" data-search="false">Hub Name</th>
                        <th class="p-3 border" data-search="false">City</th>
                        <th class="p-3 border" data-search="false">Country</th>
                        <th class="p-3 border" data-search="false">Vendor</th>
                        <th class="p-3 border" data-search="false">Currency</th>
                        <th class="p-3 border" data-search="false">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hub in hubs %}
                        <tr>
                            <td class="p-2 border sn-column"></td>
                            <td class="p-2 border">{{ hub.hub_code }}</td>
                            <td class="p-2 border">{{ hub.name }}</td>
                            <td class="p-2 border">{{ hub.city }}</td>
                            <td class="p-2 border">{{ hub.country.name }}</td>
                            <td class="p-2 border">
                                {% for vendor in hub.vendor.all %}{{ vendor }},{% endfor %}
                            </td>
                            <td class="p-2 border">{{ hub.currency.name }}</td>
                            <td class="p-2 border">
                                <div class="flex items-center gap-x-3">
                                    <!-- Update Button -->
                                    <a href="{% url 'hub:pages:hub:detail' hub.pk %}" title='Detail'>
                                        <button class="bg-primary text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700 transition-all duration-300">
                                            <i class="fi fi-rr-eye"></i>
                                        </button>
                                    </a>
                                    <a href="{% url 'hub:pages:hub:update' hub.pk %}" title='Update'>
                                        <button class="bg-secondary text-white px-4 py-2 rounded-md shadow-md hover:bg-blue-700 transition-all duration-300">
                                            <i class="fi fi-rr-edit"></i>
                                        </button>
                                    </a>
                                    <a href="{% url 'hub:pages:hub:delete' hub.pk %}"
                                       title='Delete'
                                       onclick="return confirm('Are you sure you want to delete this hub?')">
                                        <button class="bg-red-600 text-white px-4 py-2 rounded-md shadow-md hover:bg-red-700 transition-all duration-300">
                                            <i class="fi fi-rr-trash"></i>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
