{% extends "base.html" %}
{% block title %}Create Pickup Request{% endblock title %}

{% block pagetitle %}Create Pickup Request{% endblock %}
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-lg mx-auto">
        <!-- Company Creation Form -->
        <form method="post">
            {% csrf_token %}
            <div class="grid grid-cols-3 gap-6 mb-6">
                {% for field in form %}
                    {% if not request.user.role == 'admin' and field.name == 'admin_remarks' %}
                        {# Skip admin_remarks field for non-admin users #}
                    {% else %}
                        <div class="flex flex-col space-y-2">
                            <label class="text-sm font-medium text-gray-700">{{ field.label_tag }}</label>
                            {{ field }}
                            {{ field.errors }}
                            {% if field.help_text %}<p class="text-xs text-gray-500">{{ field.help_text|safe }}</p>{% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!-- Submit Button -->
            <button type="submit" class="bg-primary text-white p-3 w-full text-xl">Create</button>
        </form>
        <!-- Back Button -->
        <div class="mt-6 text-center">
            <a href="{% url 'awb:pages:pickup_request:list' %}"
               class="text-gray-600 hover:underline font-semibold text-lg">← Back to Pickup Request List</a>
        </div>
    </div>
    <!-- Tailwind CSS Styling -->
{% endblock %}
