{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}


{% block content %}
  <div class="flex flex-col bg-white max-w-md rounded shadow p-6">
    <h1 class="mb-3">AWB Details</h1>
    <form method="post">
      {% csrf_token %}
      {% for field in awb_form %}
          <div class="cursor-pointer text-sm relative border mb-2 shadow appearance-none label-floating">
            {{field}}
            <label class="cursor-pointer absolute block text-gray-800 top-0 left-0 w-full px-3 py-3 pt-2 focus:pt-2 leading-normal" for="{{field.id_for_label}}">
              {{field.label}}
            </label>
          </div>
      {% endfor %}
    </form>
</div>
       
{% endblock %}
