{% load static %}
<html>
    <style type="text/css" media="print">
        @page 
        {
            size: auto;   /* auto is the initial value */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }
    </style>    
<head></head><body style="-webkit-print-color-adjust: exact;" cz-shortcut-listen="true">
    <table frame="box" style="border: 2px solid black;outline:  solid 1px;vertical-align:middle;font-family:arial,sans-serif;    width: 100%;">
        <tbody><tr>
            <td rowspan="2"><img src="{% static 'images/company/logo.png' %}" style="height: 75px;" alt="Linkex Export"></td>
            <td align="center"><!--?xml version="1.0" standalone="no"?-->
    
    <img src="{{awb.barcode_image.url}}" style="width:200px; height:50px;" alt="Linkex Export">
    </td>
        </tr>
        <tr>
            <td align="center" style="text-transform:uppercase; font-size: 12px; margin-top: -10px;">
                AWB Number: {{awb.awbno}}
                <br>
                Forwarding Number: {{awb.forwarding_number}}
            </td>
        </tr>
        <tr><td colspan="2"><hr style="margin: 0;"></td></tr>
        <tr>
            <td colspan="2" style="font-size: 12px;">
                {{awb.booking_datetime|date:'Y-m-d'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{awb.origin.name}} → {{awb.destination.name}}
            
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top;padding-right:10px;width:50%;"><table style="width:100%;line-height: 13px;font-size: 12px;">
            <tbody><tr><th colspan="2" style="background-color: #aaaaaa;text-align: left;">Shipper</th></tr>
            <tr><td>Shipper Name :</td><td>{{ consignor.person_name | default:"-" }}</td></tr>
            <tr><td>Phone :</td><td>{{ consignor.phone_number | default:"-" }}</td></tr>
            <tr><td>Comapny :</td><td>{{ consignor.company | default:"-" }}</td></tr>
            <tr><td>Address 1 :</td><td>{{ consignor.address1 | default:"-" }}</td></tr>
            <tr><td>Address 2 :</td><td>{{ consignor.address2 | default:"-" }}</td></tr>
            <tr><td>City/State/Zip :</td><td>{{ consignor.city }}/{{ consignor.state_county }}/{{ consignor.post_zip_code | default:"-" }}</td></tr>
            <tr><td>Country :</td><td>{{ awb.origin.name }}</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td>Total Packages :</td><td>{{ awb.total_box }}</td></tr>
            <tr><td>Total Weight :</td><td>{{ awb.total_actual_weight }} Kg</td></tr>
            <tr>
                <td>Dimensions :</td>
                <td>
                    {% for box in awb.boxdetails.all %}
                        {{ box.length }}x{{ box.breadth }}x{{ box.height }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>

            <tr><td>Customer ref#:</td><td>{{ awb.reference_number | default:"-" }}</td></tr>
        </tbody></table></td>
            <td style="vertical-align:top;padding-left:10px;width:50%;">
                <table class="table responsive notdbg" style="width:100%;line-height: 13px;font-size: 12px;">
            <tbody><tr><th colspan="2" style="background-color: #aaaaaa;text-align: left;">Receiver</th></tr>
          
            <tr><td>Recpt Name :</td><td>{{ consignee.person_name | default:"-" }}</td></tr>
            <tr><td>Phone :</td><td>{{ consignee.phone_number | default:"-" }}</td></tr>
            <tr><td>Comapny :</td><td>{{ consignee.company | default:"-" }}</td></tr>
            <tr><td>Address 1 :</td><td>{{ consignee.address1 | default:"-" }}</td></tr>
            <tr><td>Address 2 :</td><td>{{ consignee.address2 | default:"-" }}</td></tr>
            <tr><td>City/State/Postal :</td><td>{{ consignee.city }}/{{ consignee.state_county | default:"-" }}/{{ consignee.post_zip_code | default:"-" }}</td></tr>
            <tr><td>Country :</td><td>{{ awb.destination.name }}</td></tr>
              <tr><td colspan="2">&nbsp;</td></tr>
            <tr><td>Description :</td><td>{{ awb.content | default:"-" }}</td></tr>
            <tr><td>Declared Value :</td><td>{{ awb.shipment_value }} {{ awb.currency }}</td></tr>
            <tr><td>Charges Bill To :</td><td> SHIPPER </td></tr>
            <tr><td>Taxes Bill To :</td><td> SHIPPER </td></tr>
        </tbody></table>
            </td>
        </tr>
        <tr><td colspan="2" align="center" style="padding-top: 5px;color: #666;font-size: 12px;">*All cargo is subjected to inspection*</td></tr>
        <tr><td colspan="2"><hr style="margin: 0 0 0px;"></td></tr>
        <tr><td colspan="2" align="center" style="line-height: 14px;font-size: 12px;">Linkex Export<br>Battisputali Road Gaushala, Kathmandu (Along with NIC Asia Bank & Nearby Hotel Dwarika)<br>
            Tel: +977-985-1168433, email: shipglobalnpl@gmail.com<br>www.shipglobalnepal.com </td></tr>
    </tbody></table>
    
    <table>
      <tbody><tr>
          <td><p>I/We agree that Linkex Export standard terms and conditions apply to this shipment and limit Linkex Export  liability to the terms and conditions as laid out on the reverse of this copy. Warsaw Convention may apply. I/We understand that Linkex Export  does not carry cash/dangerous/banned goods and warrant that information contained in this Airway Bill is true and correct. Linkex Export’s liability shall not exceed US$ 100 for any shipment.
    </p></td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
          <td>Shippers Signature</td>
      </tr> 
    </tbody></table>
    <center>
      <div onclick="printpage()" class="d-print-none">
        <input type="button" id="calc" class="btn btn-primary" value="Print">
      </div>
    </center>
    <style>
      @media print {
        .d-print-none {
          display: none !important;
        }
      }
    </style>
    
    <script>
      function printpage()
      {
         window.print();
      }
      /*setTimeout( 
        function() {
            window.print();
        }, 100);*/
     </script> </body></html>
    