{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block pagetitle %}Upload Forwarding Number{% endblock %}

{% block button %}
    <button class="bg-white text-primary border-2 border-primary hover:bg-secondary hover:text-white hover:border-secondary transition-colors duration-300 font-medium px-4 py-2 rounded flex items-center gap-2">
        <a href="{% url 'awb:pages:awb:download_fwd_num_template' %}" title="Download Template">
            <i class="fi fi-rr-download"></i>
        </a>
    </button>
{% endblock button %}
    
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-lg w-full mx-auto">
        <!-- Run Creation Form -->
        <form method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            <div class="grid grid-cols-2 gap-4">
                {% for field in form %}
                    <div class="relative mb-6">
                        {{ field.label_tag }} {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- Submit Button -->
            <button type="submit" class="bg-primary text-white p-3 w-full text-xl">Upload</button>
        </form>
    </div>
    <!-- Tailwind CSS Styling -->
{% endblock %}
