{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block pagetitle %}Create User{% endblock %}
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg mx-auto">
        <!-- User Creation Form -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="relative mb-6">
                    {% if field.name != 'password' %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                    {% else %}
                        {{ field.label_tag }}
                        <div class="mt-1 relative">
                            {{ form.password }}
                            <span class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer eye-icon"
                                  onclick="togglePasswordVisibility()">
                                <i class="fas fa-eye text-gray-500"></i>
                            </span>
                        </div>
                        {% comment %} {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %} {% endcomment %}
                    {% endif %}
                </div>
            {% endfor %}
            <!-- Submit Button -->
            <button type="submit" class="bg-primary text-white p-3 w-full text-xl">Create</button>
        </form>
        <!-- Back Button -->
        <div class="mt-6 text-center">
            <a href="javascript:history.back()"
               class="text-gray-600 hover:underline font-semibold text-lg">← Go Back</a>
        </div>
    </div>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("id_password");
            var eyeIcon = document.querySelector(".eye-icon i");
            if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
            } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
{% endblock %}
