{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block pagetitle %}Update User{% endblock %}
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg mx-auto">
        <!-- User Update Form -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="relative mb-6">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                </div>
            {% endfor %}
            <!-- Submit Button -->
            <button type="submit" class="bg-primary text-white p-3 w-full text-xl">Update</button>
        </form>
        <!-- Back Button -->
        <div class="mt-6 text-center">
            <a href="javascript:history.back()"
               class="text-gray-600 hover:underline font-semibold text-lg">← Go Back</a>
        </div>
    </div>
{% endblock %}
