{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block pagetitle %}Update Company{% endblock %}
{% block content %}
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-lg mx-auto">
        <!-- Company Creation Form -->
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {% for field in form %}
                <div class="relative mb-6">
                    {{ field.label_tag }} {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}<p class="help">{{ field.help_text|safe }}</p>{% endif %}
                </div>
            {% endfor %}
            <!-- Submit Button -->
            <button type="submit" class="bg-primary text-white p-3 w-full text-xl">Update</button>
        </form>
        <!-- Back Button -->
        <div class="mt-6 text-center">
            <a href="{% url 'awb:pages:master:company:list' %}"
               class="text-gray-600 hover:underline font-semibold text-lg">← Back to Company List</a>
        </div>
    </div>
    <!-- Tailwind CSS Styling -->
{% endblock %}
